{% extends "auctions/layout.html" %}
{% load bay_extras %}
{% load static %}

{% block body %}
    <h2>Active Listings</h2>
    {{numbers}}
    ////{{items}}
    \\\\{% for item in items %}
        {{item.selling_item}}
    {% endfor %}

    {{dictionary}}
    <table>
        <tr>
            <th>Picture</th>
            <th>Title</th>
            <th>Category</th>
            <th>Initial Price</th>
            <th>Current Bid</th>
        </tr>
            {% for listing in listings %}
                <tr>
                    <th>{{listing.picture}}</th>
                    <th><a href="{% url 'listing' listing.id%}">{{listing.name}}</a></th>
                    <th>{{listing.category}}</th>
                    <th>{{listing.init_price}}</th>
                    <th>{% if listing.id in numbers %}
                        {{dictionary|lookup:listing.id}}
                        {% else %}
                        -
                    {% endif %}</th>
                    
                </tr>
            {% endfor %}
    </table>

{% endblock %}