{% extends "auctions/layout.html" %}
{% load bay_extras %}
{% load static %}

{% block body %}
    <h2>Active Listings</h2>
    <div class = "div_1"></div>
    <table id = Full_Table>
        <tr>
            <th>Picture</th>
            <th>Title</th>
            <th>Category</th>
            <th>Initial Price</th>
            <th>Seller</th>
            <th>Current Bid</th>
        </tr>
            {% for listing in listings %}
                <tr>
                    <td><img src ="{{listing.picture}}" alt = "No picture Provided" style="max-height: 200px; max-width: 300px;"></td>
                    <td><a href="{% url 'listing' listing.id%}">{{listing.name}}</a></td>
                    <td>{{listing.category}}</td>
                    <td>{{listing.init_price}}</td>
                    <td>{{listing.owner}}</td>
                    <td>{% if listing.id in numbers %}
                        {{dictionary|lookup:listing.id}}
                        {% else %}
                        -
                    {% endif %}</td>
                    
                </tr>
            {% endfor %}
    </table>

{% endblock %}