{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Listing: {{listing.name}}</h2>

    {{listing.body_text}}
    starting price is ${{listing.init_price}}
    {{bids}}

    <form action="{% url 'new_bid' listing.id%}" method = "POST">
        {% csrf_token %}
        {{form}}
        <input type="submit">
    </form>

    {% if user.is_authenticated %}
        <a href="{% url 'add_watch' listing.id%}">Add to watchlist</a>
    {% else %}
        Please note you cannot Bid without being logged in 
    {% endif %}
    

    ##{{no_bids}}

    
    LLLLL
    {% if question %}
        {{message}}. Would you like to go to your <a href="{% url 'go_watch'%}">watchlist</a>?
        {% else %}
            
    {% endif %}

    Comments ({{no_comments}})
    {% for comment in comments %}
    <li>
        {{comment.comment}} | {{comment.commenter}} @ {{comment.created}}
    </li>
    {% endfor %}

    <form action="{% url 'new_comment' listing.id%}" method = "POST">
        {% csrf_token %}
        {{comment_form}}
        <input type="submit">
    </form>
{% endblock %}