{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Listing: {{listing.name}}</h2>
    <div class = "div_1"></div>

    {{listing.body_text}}
    starting price is ${{listing.init_price}}
    {{bids}}

    {% if winner != None %}
        <h1>{{winner}}</h1>
    {% endif %}

    @@@@@@{{user}}|{{lister}}

    {% if user.is_authenticated %}
        <a href="{% url 'add_watch' listing.id%}">Add to watchlist</a>
    {% else %}
        Please note you cannot Bid without being logged in 
    {% endif %}

    {% if valid == True %}
        {% if user == lister %}
            Close listing: 
            <form action = "{% url 'delist' listing.id%}" method = "POST">
                {% csrf_token %}
                <input type = "checkbox">
                <input type="submit">
            </form>
        {% endif %}
    {% endif %}

    There are {{no_bids}} on this item
    <strong>{{highest_bid}}</strong>
    ???????????????{{valid}}??????????????????????
    <strong>{{message}}</strong>
    LLLLL
    {% if question %}
        {{message}}. Would you like to go to your <a href="{% url 'go_watch'%}">watchlist</a>?
        {% else %}
            
    {% endif %}
    {% if valid == True %}
        <form action="{% url 'new_bid' listing.id%}" method = "POST">
            {% csrf_token %}
            {{form}}
            <input type="submit">
        </form>

        <form action="{% url 'new_comment' listing.id%}" method = "POST">
            {% csrf_token %}
            {{comment_form}}
            <input type="submit">
        </form>
    {% endif %}
    Comments ({{no_comments}})
    {% for comment in comments %}
    <li>
        {{comment.comment}} | {{comment.commenter}} @ {{comment.created}}
    </li>
    {% endfor %}
    
{% endblock %}