{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
    Create New Listing
{% endblock %}

{% block body %}
    <link href="{% static 'auctions/css/new.css' %}" rel="stylesheet">
    <h2>Create New Listing</h2>
    <div class = "div_1"></div>
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="submit-btn" type="submit" value="Submit" style="left: 445px; margin-top: 60px;"/>
    </form>

{% endblock %}