
input {
    border-radius: 5px;
    border: 1px grey solid;
}

textarea {
    position: absolute;
    left: 170px;
    margin-top: 10px;
}



.com_but {
    position: absolute;
    left: 570px;
    margin-top: 9px;
}

.div_pad {
    padding: 18px;
}

